.container_emptyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #555;
  margin-top: 50px;
  min-height: 400px;
}


.container_emptyCard h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.container_emptyCard p {
  font-size: 1.5rem;
  color: #666;
}

/* Phone (Extra small devices: max-width 576px) */


@media (max-width: 576px) {
    .container_emptyCard h1{
        font-size: 2rem;
    }

    .container_emptyCard p{
        font-size: 1rem;
    }
}

.image-icon{
  width: 13rem;
  height: auto;
  /* background-color: aqua; */
  position: relative;
}

.image-icon img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-note-icon{
  text-align: center;
  font-size: 3.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  right: -15px;
}