/* Navbar Container */
.navbar {
  height: 70px;
  padding: 10px 20px;
   background-color: #fff; 
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.title_navbar{
    font-size: 1.5rem;
}



/* Phone (Extra small devices: max-width 576px) */
@media (max-width: 576px) {
 .navbar {
    gap: 20px;
 }
 h1{
    font-size: 1.5rem;
 }
}
