/* Home Container */
.home {
  min-height: 100vh;
  background-color: #f5f6fa;
  box-sizing: border-box;
}

/* Cards Container */
.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    justify-content: center;
    padding: 20px;
    align-items: start;
    grid-auto-rows: min-content;
}



.add_icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1976d2; /* Material UI primary color */
  color: white;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.add_icon:hover {
  transform: scale(1.1);
  background-color: #1565c0; /* Slightly darker blue on hover */
}
.text_offline{
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}

.AutorenewIcon{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Phone (Extra small devices: max-width 576px) */
@media (max-width: 576px) {
 .text_offline{
  font-size: 0.9rem;
 }
 .AutorenewIcon{
  width: 30px;
  height:30px;
 }
}